@import url();
body {
background-color: #FFF5D7;
width: 90%;
margin: auto;
color: #8EA4F4;
}
.container {
position: relative;
width: 1440px;
height: 1024px;
}
.flex {
    padding: 40px;
    height: 100px;
}
/* Happy Learning */

.logo {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 76.3%;
    letter-spacing: -0.03em;
}
.c {
    
    position: relative;
    width: 32px;
    height: 32px;
    background-image: url('../assets/icons/3barras.png');
}

.menu {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1288px;
    top: 42px;
    text-align: right;
    background-image: url('../assets/icons/search.png');
    background-position: top right;
    }
    /* Ellipse 197 */
    .b {
    position: absolute;
    box-sizing: border-box;
    width: 49px;
    height: 49px;
    left: 1351px;
    top: 34px;


    background-image: url('../assets/icons/Ellipse\ 197.png');
    }
.d{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1358px;
    top: 42px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    background-image: url('../assets/icons/user.png');
    }

.body-center {
    width: 456px;
    margin: 200px auto 50px;
}

/* DIGITALCLASSROOM */
.text h1{
position: absolute;
width: 613px;
height: 189px;
left: 407px;
top: 183px;
font-family: 'Histora Beralin';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 90.5%;
/* or 87px */
text-align: center;
letter-spacing: 0.07em;
color: #000000;
border: 2px solid #FFFFFF;
font-size: 70px;
letter-spacing: 0.11em;
}

.text p{
position: absolute;
width: 582px;
height: 46px;
left: 432px;
top: 357px;

font-family: 'Roboto';
font-style: normal;
font-weight: 100;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.06em;

color: #000000;

font-size: 21px;
letter-spacing: 0.06em;
font-weight: 200;
