@import url();
body {
background-color: #FFF5D7;
width: 100%;
margin: auto;
color: #8EA4F4;
}
.container {
position: relative;
width: 1440px;
height: 1024px;
}
.flex {
    display: flex;
    padding: 40px;
    height: 100px;
    flex-direction: row
}

.flex-center {
    justify-content: center;
}

/* Happy Learning */

.logo {
    position: absolute;
    width: 178px;
    height: 48px;
    left: 135px;
    top: 41px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 76.3%;
    letter-spacing: -0.03em;
}
.c {
    width: 32px;
    height: 32px;
    background-image: url('/assets/icons/3barras.png');
}

.menu {
    position: absolute;
    width: 32px;
    height: 32px;
    left: 1288px;
    top: 42px;          
    background-image: url('/assets/icons/search.png');

    }
    /* Ellipse 197 */
    .b {
    box-sizing: border-box;
    position: absolute;
    width: 49px;
    height: 49px;
    left: 1351px;
    top: 34px;

    
    background-image: url('/assets/icons/Ellipse\ 197.png');
}

.d {
    position: absolute;
    width: 34px;
    height: 34px;
    left: 1358px;
    top: 42px;
    background-image: url('/assets/icons/user.png');
}

.letters1 {
    position: absolute;
width: 143px;
height: 37.76px;
left: 75px;
top: 427px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;

color: #000000;

transform: rotate(-90deg);

}

.letters2 {
    position: absolute;
width: 143px;
height: 37.76px;
left: 75px;
top: 825px;

font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.06em;

color: #000000;

transform: rotate(-90deg);
}

.flecha1 {
    position: absolute;
width: 42px;
height: 42px;
left: 210px;
top: 566px;

transform: rotate(.180deg);
background-image: url("/assets/icons/flecha1.png");
}

.flecha2 {
    position: absolute;
width: 42px;
height: 42px;
left: 1349px;
top: 524px;
background-image: url("/assets/icons/flecha2.png");
}

.estrella {
    position: absolute;
width: 49px;
height: 49px;
left: 1103px;
top: 708px;

background: #F2C94C;
border-radius: 16px;
background-image: url("/assets/icons/estrella.png");
}

.lorem1 {
    position: absolute;
width: 165px;
height: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.06em;
top: 696px;
left: 1188px;
color: #000000;

}

.reloj {
    position: absolute;
width: 51px;
height: 51px;
left: 1103px;
top: 780px;

background: #FF2727;
border-radius: 16px;
background-image: url("/assets/icons/reloj.png");
}

.lorem2 {
    position: absolute;
width: 165px;
height: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.06em;
top: 768px;
left: 1188px;
color: #000000;


}

.corazon {
    position: absolute;
width: 49px;
height: 49px;
left: 1104px;
top: 854px;

background: #3088FF;
border-radius: 16px;
background-image: url("/assets/icons/corazon.png");
}

.lorem3 {
    position: absolute;
width: 165px;
height: 45px;

font-family: 'Roboto';
font-style: normal;
font-weight: 300;
font-size: 13px;
line-height: 15px;
letter-spacing: 0.06em;
top: 842px;
left: 1188px;
color: #000000;


}

/* DIGITALCLASSROOM */
.body-center h1 {
position: absolute;
width: 613px;
height: 189px;
left: 407px;
top: 183px;
font-family: 'Histora Beralin';
font-style: normal;
font-weight: 400;
font-size: 96px;
line-height: 90.5%;
/* or 87px */
text-align: center;
letter-spacing: 0.07em;
color: #000000;
border: 2px solid #FFFFFF;
font-size: 70px;
letter-spacing: 0.11em;
}

.body-center p {
    position: absolute;
    width: 582px;
    height: 46px;
    left: 432px;
    top: 357px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.06em;

    color: #000000;

    font-size: 21px;
    letter-spacing: 0.06em;
    font-weight: 200;
}

.btn {
    /* Get Started */
position: absolute;
z-index: 1;
width: 129px;
height: 18px;
 
font-family: 'Raleway';
font-style: normal;
font-weight: 500;
font-size: 22px;
line-height: 18px;
 
/* identical to box height, or 82% */
color: #000000;
 
 
/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
cursor: pointer;
}

.btn-white {
/* Primary button */
box-sizing: border-box;
  
/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 24px 57px 24px 40px;
gap: 10px;
  
position: absolute;
left: 43.19%;
right: 42.15%;
top: 42.97%;
bottom: 50.59%;
  
background: #FFFFFF;
border: 1px solid #000000;
border-radius: 40px;
}

.imagen1 {
    position: absolute;
width: 686px;
height: 819px;
left: 377px;
top: 478px;
border-radius: 1700px 1700px 0px 0px;

background: #FAC52F;
background-image: url('/assets/imgs/Image_top.png');
}

.imagen2 {
    /* Group 46 */

position: absolute;
width: 591px;
height: 502px;
left: 440px;
top: 542px;
background-image: url('/assets/imgs/profes.png');
}